/* Variables */

 $color-white: #fff;
 $color-dark: #2d3436;
 $color-icons: #F4D03F;
 $font-header: 'Signika', sans-serif;
 $font-text: 'Lato', sans-serif;
 $transition: all 1s;

/* Global */

body {
    margin: 0;
    text-align: center;
    background: #fff;
    color: #3d3d3d;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-text;
}
section {
    padding: 96px 0;
    max-width: 1140px;
    margin: 0 auto;
}
.btn {
    display: inline-block;
    min-width: 160;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-text;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-position: 100% 0;
    background-size: 300%;
    transition: $transition;
}
.section-title {
  color: $color-dark;
  font-size: 24px;
  font-family: $font-header;
  margin: 48px 0 0 0;
}
.section-subtitle {
  color: $color-dark;
	font-size: 20px;
	margin: 48px 0 0 0;
  font-family: $font-header;
}
/* Navigation */

nav {
    display: flex;
    padding: 12px 0;
    justify-content: flex-end;
    margin-right: 180px;
}
.navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.navigation li {
    display: inline;
    margin: 0 0 0 36px;
    position: relative;
}
.navigation a {
    text-decoration: none;
    color: #2d3436;
}
.navigation ul li a {
    display: inline-block;
}
.navigation ul ul li {
    display: block;
    margin: 0 0 12px 0;
}
.navigation li ul {
    display: none;
    text-align: center;
    position: absolute;
    padding: 12px 0 0 0;
    left: 50%;
    transform: translateX(-50%);
}
.navigation li:hover ul {
    display: block;
}
.navigation li ul a {
    color: #2d3436;
    display: block;
    padding: 0 24px;
}
/* Splash */

/*.splash {
    height: 100vh;
    position: relative;
    background-image:url('https://images.pexels.com/photos/262367/pexels-photo-262367.jpeg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}*/
.splash-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.splash-first img {
    height: 100vh;
    object-fit: cover;
    width: 100%;
    object-position: top;
}
.page-title {
	color: $color-dark;
	font-size: 24px;
	font-family: $font-header;
	margin: 48px 0 0 0;
}
.page-subtitle {
	color: $color-dark;
	font-size: 60px;
	margin: 48px 0 0 0;
  font-family: $font-header;
}
.btn-one {
    border-color:$color-dark;
    color:$color-white;
    background: $color-dark;
    font-family: $font-header;
}
.btn-one:hover {
    color: $color-dark;
}

/* Services */

.row {
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box {
    position: relative;
    flex: 0 0 33.333%;
}
.services i {
	font-size: 30px;
	background: $color-white;
  border: 2px solid $color-icons;
	width: 60px;
	height: 60px;
	line-height: 60px;
	color: $color-icons;
	border-radius: 50%;
}

/* Portfolio */

.portfolio {
  background: #F2F3F4;
}
.portfolio .container {
  padding: 96px 0;
  max-width: 1140px;
  margin: 0 auto;
}
.box img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  margin: 0 auto;
}
.portfolio .box {
  padding: 0;
  background: $color-white;
  flex: 0 0 30%;
}

/* Footer */

.page-footer {
    padding: 0;
}
.page-footer .row {
  justify-content: flex-start;
  padding: 10px 0;
}
.page-footer li {
    font-size: 0;
    display: inline;
}
.page-footer i {
  font-size: 20px;
	background: $color-dark;
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: $color-white;
	border-radius: 50%;
	text-align: center;
}
